:root {
  --color-background: #fffaf7;
  --color-background-soft: #fff4ea;
  --color-background-mute: #fffdfb;
  --color-border: #f0dfd3;
  --color-border-hover: #f3caa8;
  --color-heading: #17110d;
  --color-text: #17110d;
}


*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

body {
  min-height: 100vh;
  color: var(--color-text);
  background: var(--color-background);
  transition:
    color 0.3s ease,
    background-color 0.3s ease;
  line-height: 1.6;
  font-family: 'Space Grotesk', sans-serif;
  font-size: 15px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
